<div class="jumbotron">
    <div class="container">
        <h1>Rito page</h1>
        <p>Es una pagina acerca del videojuego creado por riot games.</p>
        <p>
            <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
</div>

<!----------------------Section for champions------------------>

    <div class="home_champs">
        <div ng-repeat="champion in $ctrl.champions">
            <h3>{{champion.name}}</h3>
            <h4>{{champion.title}}</h4>
            <img ng-src="{{$ctrl.DdragonConstants.base_url + $ctrl.DdragonConstants.img_champ_url + champion.image.full}}" alt="Image Champ" ui-sref="navbar.champion-detail({id:champion.id})">
        </div>
    </div>


