<div class="jumbotron jumbotron-summoner" style="margin-top: 50px">
    <div class="container">
        <h1>Buscador de invocadores</h1>
        <p>Busca el nombre de invocador que desees y observa sus ultimas partidas</p>
        <form action="" class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="">Invocador</label>
                <input type="search" class="form-control" name="" id="" placeholder="Invocador ..." ng-model="$ctrl.summoner">
            </div>
            <a ui-sref="navbar.summoner({name:$ctrl.summoner})"><button type="submit" class="btn btn-primary" >Buscar</button></a>
        </form>
    </div>
</div>
<div>

    <div>
        <h3>Partidas recientes de {{$ctrl.summonerName}}</h3>
        <div ng-show="!$ctrl.games[0]">
            <div class="alert alert-danger">
                <strong>Partidas no encontradas</strong> Este invocador no tiene partidas recientes
            </div>

        </div>
        <div ng-repeat="game in $ctrl.games | limitTo : 10">
            <h3>Partida N:{{$index + 1}}</h3>
            <h3>{{game.queueType}}</h3>
            <h5>{{game.matchCreation | timeago}}</h5>
            <div>
                <div class="row"  ng-repeat="participant in game.participantIdentities | limitTo: game.participantIdentities.length/2">

                    <div class="col-lg-12">
                        <summoner-detail
                                class="col-lg-6 col-md-6 col-xs-6"
                                ng-class="{'winner-team' : game.teams[0].winner , 'losser-team' : !game.teams[0].winner}"
                                player="participant.player"
                                champion="$ctrl.champions[$parent.$index][$index].champion"
                                items = "[
                                game.participants[$index].stats.item0,
                                game.participants[$index].stats.item1,
                                game.participants[$index].stats.item2,
                                game.participants[$index].stats.item3,
                                game.participants[$index].stats.item4,
                                game.participants[$index].stats.item5,
                                game.participants[$index].stats.item6
                                ]"
                                spells = "[
                                $ctrl.summoners[$parent.$index][$index].spell1.key,
                                $ctrl.summoners[$parent.$index][$index].spell2.key
                                ]"
                                kda = "{
                                    kills : game.participants[$index].stats.kills,
                                    deaths : game.participants[$index].stats.deaths,
                                    assists : game.participants[$index].stats.assists,
                                }"
                        ></summoner-detail>

                        <summoner-detail
                                class="col-lg-6 col-md-6 col-xs-6"
                                ng-class="{'winner-team' : game.teams[1].winner , 'losser-team' : !game.teams[1].winner}"
                                player="game.participantIdentities[$index+5].player"
                                champion="$ctrl.champions[$parent.$index][$index + 5].champion"
                                items = "[
                                game.participants[$index + 5].stats.item0,
                                game.participants[$index + 5].stats.item1,
                                game.participants[$index + 5].stats.item2,
                                game.participants[$index + 5].stats.item3,
                                game.participants[$index + 5].stats.item4,
                                game.participants[$index + 5].stats.item5,
                                game.participants[$index + 5].stats.item6
                                ]"
                                spells = "[
                                $ctrl.summoners[$parent.$index][$index + 5].spell1.key,
                                $ctrl.summoners[$parent.$index][$index + 5].spell2.key
                                ]"
                                kda = "{
                                    kills : game.participants[$index + 5].stats.kills,
                                    deaths : game.participants[$index + 5].stats.deaths,
                                    assists : game.participants[$index + 5].stats.assists,
                                }"
                        ></summoner-detail>
                    </div>

                </div>
            </div>


<!--
                <p ng-class="{'right-team': game.participants[$index].teamId === 200}">{{game.participants[$index].teamId}}</p>
-->
                <!--<a ui-sref="navbar.summoner({name:participant.player.summonerName})"><p>{{participant.player.summonerName}}</p></a>-->


            </div>
        </div>
    </div>



</div>