.champion-detail{
	margin-top: 50px;
	text-align: center
    /*margin-top: 50px;
    display: flex;
    flex-wrap: wrap;*/
}
.champion-detail>div{
    /*flex: 1;
    padding: 10px 12px;
    min-width: 400px;*/
}
.champion-detail>img{
	
}
.champion-detail>p{
}

