section.champion-skins{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

section.champion-skins>div{
    margin: 4px 6px;
    padding: 8px;
}
section.champion-skins>div img{
    border-radius: 5%;
}