nav {
    display: flex;
    list-style: none;
    background-color: black;
    color: white;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 90;
}

nav li{
    flex: 1;
    cursor: pointer;
    padding: 15px 20px;
    transition: .3s ease all;
}
nav li.active{
    background-color: white;
}
nav li.active a{
    color: black;
}
nav li a{
    color: white;
    text-decoration: none;
}
nav li:hover{
    transform: scale(1.1);
    background-color: darkslategray;
}
nav li:last-child{
    flex: 0;
    background-color: white;
    color: black;
}
nav li:last-child:hover{
    flex: 1;
}
nav li:last-child i{
    float: right;
}

nav li:last-child .input_inline{
    /*display: inline-block;*/
    display:none;
    width: 100px;
    border: 0;
    border-bottom: 1px solid;
}
nav li:last-child:hover .input_inline{
    display: inline-block;
    /*display:none;*/
    width: auto;
    border: 0;
    border-bottom: 1px solid;
}



