<section class="champion-detail">
    
        <h3>{{$ctrl.champion.name}}</h3>
        <p>
        	
    	<img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{$ctrl.champion.key}}_0.jpg" alt="">
    
        <p ng-bind-html="$ctrl.champion.lore | trust"></p> 
        </p>
   
</section>
<section class="champion-skins">
    
    <div ng-repeat="skin in $ctrl.skins">
        <h3>{{skin.name}}</h3>
        <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{$ctrl.champion.key}}_{{skin.num}}.jpg" alt="skin">
    </div>
</section>